<h2>Selecione um Serviço</h2>
<div>
    <form method="get" action="/mapa/"><button name="servico" value="eletrica">Elétrica</button></form>
    <form method="get" action="/mapa/"><button name="servico" value="obras">Obras</button></form>
    <form method="get" action="/mapa/"><button name="servico" value="eletronica">Eletrônica</button></form>
    <form method="get" action="/mapa/"><button name="servico" value="informatica">Informática</button></form>
    <form method="get" action="/mapa/"><button name="servico" value="gerais">Serviços Gerais</button></form>
</div>
